html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
body{
    font-family: 'Spartan', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    color: $dark-grayish-magenta;
    line-height: 1.6;
}

main{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 10.375rem 6.25rem;
}


h1{
    margin: 0;
}

ul{
    margin:0;
    padding:0;
}