html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *::after, *::before{
    box-sizing: inherit;
}
body{
    font-family: 'Spartan', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    color: $dark-grayish-magenta;
    line-height: 1.6;
}
main{
    display: grid;
}

h1{
    margin: 0;
}

ul{
    margin:0;
    padding:0;
}

li{
    list-style:none
}