html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #937b92;
  line-height: 1.6;
}

main {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.bg-pattern,
.card {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.bg-pattern {
  overflow: hidden;
}

.bg-pattern img {
  max-width: 100%;
}

#second-item {
  margin-top: 15%;
  margin-left: 25%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 10.375rem 6.25rem;
}

.bg-pattern img:first-child {
  position: absolute;
}

.presentation {
  max-width: 69.3125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 8.675rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tittle h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #502050;
}

.review-container {
  width: 33.75rem;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 27.875rem;
  margin: 1rem 0;
  background-color: #f7f2f7;
  border-radius: 6px;
}

.review .starts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review .starts-container img {
  width: 100%;
}

.review p {
  color: #502050;
  font-weight: 700;
}

.review:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.review:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#testimonials {
  margin-top: 3.8125rem;
}

#testimonials ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.875rem;
  color: white;
  height: 16.625rem;
}

#testimonials li {
  max-width: 21.875rem;
  max-height: 14.5rem;
  background-color: #502050;
  padding: 2rem 1.875rem;
  border-radius: 10px;
}

#testimonials li:nth-child(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#testimonials li:nth-child(3) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#testimonials .information-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
}

#testimonials .information-profile .image-profile {
  width: 2.5625rem;
  margin-right: 1.4375rem;
}

#testimonials .information-profile .image-profile img {
  border-radius: 50%;
  width: 100%;
}

#testimonials .information-profile .name-profile p {
  margin: 0;
}

#testimonials .information-profile .name-profile p:nth-child(2) {
  color: #ee68a4;
}

#testimonials .description {
  font-size: 0.75rem;
}
/*# sourceMappingURL=styles.css.map */